<% provide(:title, "About") %>
<div id="question">
	<h1>这里还没想好写点什么</h1>
</div>
<div id="poem">
	<center> <%= link_to image_tag("qiu.jpg", alt: "shan", class: "img-responsive") %></center>
	<p></p>
	<p> 《山居秋暝》</p>

<p>空山新雨后，天气晚来秋。</p>

<p>明月松间照，清泉石上流。</p>

<p>竹喧归浣女，莲动下渔舟。</p>

<p>随意春芳歇，王孙自可留。</p>
</div>
