<% provide(:title, 'Contact') %>
<div id="question">
	<h1>联系方式</h1>
	微信，电邮和QQ都阔以找到我 :)
	
	<h2>微信或者电子邮件</h2>
	
	<p>有几种方式可以联系到我，我的微信号是:<span class="red-sketch-underline">liuyandong00</span>。我的电子邮件是:<span class="red-sketch-underline">yandong.liu@球球(把球球换成qq).com</span>。
	</p>
  <%= link_to image_tag("wechat.jpg", alt: "wechat", class: "img-responsive"),
              'https://lmzdx.net/' %>
			  
    <h2>QQ号</h2>
	我的QQ号是<span class="red-sketch-underline">38703031</span>。
	</p>
	  <%= link_to image_tag("qq.jpg", alt: "QQ", class: "img-responsive"),
	              'https://lmzdx.net/' %>
    <h2>QQ群</h2>
	<p>
	  如果你购买了课程，有请加入QQ群，群号是<span class="red-sketch-underline">838202226</span>：
	</p>
	  <%= link_to image_tag("qq-group.jpg", alt: "QQ Group", class: "img-responsive"),
	              'https://lmzdx.net/' %>
	
</div>

