<% provide(:title, "Help") %>
<h1>初衷是什么?</h1>
<p> 每个人都有几个知心朋友，如果有一个社交网站，只有你们几个臭味相投的人可以上，运行在你家吃灰的树莓派上，你不用的旧电脑上，不知道跑点什么的VPS上。没有烦人的广告，你自己能控制所有的数据，<mark><strong>我觉得这样比较酷。</strong></mark>
</p>

<h1>这样做可行么?</h1>

<p><span class="red-sketch-underline">我已经这样做了快一年了，</span>十几个好友。跑在我的树莓派上，用花生壳的个人版解析IP地址，后来我觉得花生壳有点麻烦了，就又把网站布署在我的一台vps上。</p>
