<% provide(:title, "Help") %>
<h1>初衷是什么?</h1>
<p> 每个人都有几个知心朋友，如果有一个社交网站，只有你们几个臭味相投的人可以上，运行在你家吃灰的树莓派上，你不用的旧电脑上，不知道跑点什么的VPS上。没有烦人的广告，你自己能控制所有的数据，<mark><strong>我觉得这样比较酷。</strong></mark>
</p>

<h1>这样做可行么?</h1>

<p><span class="red-sketch-underline">我已经这样做了快一年了，</span>十几个好友。跑在我的树莓派上，用花生壳的个人版解析IP地址，后来我觉得花生壳有点麻烦了，就又把网站布署在我的一台vps上。</p>

<p>经过这快一年的运作，我觉得还是比较可行的。</p>

<h1>缺点是什么?</h1>

<p>缺点是<span class="red-sketch-underline">内容不如微，微信上丰富，</span>总共就那么几个鬼，每天只有几条内容产生。</p>

<p>如果用树莓派的话，稳定性可能也不如微博和微信，主要是家里的路由器重启以后，花生壳有时候要很久(有时候要30分钟)才能把IP稳定下来。后来我用了VPS以后，情况大为改进，好几个月都不用管，一点问题没有。</p>

<p>用VPS稳定是稳定了，但是每个月要付一些钱 :)我每个月付的钱也不多，大概100到150块吧（云计算的核心技术是：如何让用户看不懂计费规则！）。平均每个朋友5块钱左右。每次出去吃饭，让他们请就是了。</p>

<h1>优点是什么?</h1>

<p><span class="red-sketch-underline">没有广告，</span>也没有一大堆让人不爽的什么狗屁热门话题。</p>
<p>不用怕帖子没了,除非你的硬盘坏了，或者树莓派的SD卡坏了(真得比较容易坏 :)，数据一直会在那里。</p>
<p>方便，想增加减少什么功能自己实现。自己动手，丰衣足食，我实现了一个简单的加密解密功能。</p>

<h1>值得这样做么?</h1>

<p><strong>人各有志，有的人认为值得，有的人认为不值得。</strong></p>

<p>有人认为微博，微信已经做的很好了，为什么还要做这个，为什么要造轮子？人家还免费。还是那句话，人各有志，我认为造轮子很有趣。</p>

<h1>做这么个东西难么?</h1>

<p>世间事有难易乎，为之则难者亦易矣，不为则易者亦难矣。做这么个东西，不能说特别难，但是肯定不是那种21小时就能搞定的。<mark>只要想学，花一些时间，肯定是能学会的。</mark></p>

<p>具体来说，看每个人的程度，需要以下的知识：</p>
 <ul style="list-style-type:square;">
  <li>基本的Linux知识(网站要跑在上面)</li>
  <li>基本的HTML+CSS+javascript知识</li>
  <li>基本的数据库知识(网站要用到数据库,MySQL或者PostgreSQL均可)</li>
  <li>基本的编程语言(Python或者Ruby或者PHP或者Java，C/C++都可以)</li>
  <li>基本的加密解密知识</li>
</ul> 

<p>做这么个网站，只要懂了大体的理念，用什么东西都能搞定的，<span class="red-sketch-underline">这是一个有广度没深度的项目。</span>我稍微做过压力测试，每秒发一条微博还能抗的住，实际上，我只需要每天发10条微博就可以了。</p>

<p>数据库上用不到infra层级的调优，只需要会建表。web编程上用不到什么闭包啊，函数重载啊，就是从文本框里读个数据存起来，顶多存之前加个密。说起加密来，难的加密算法能难上天，我也不会，但是实现个XOR异或加密总可以吧? 至于编程，现在不都流行写爬虫么？我觉得会写爬虫的，写这么个东西，已经绰绰有余了。</p>