<h1>欢迎来到绿帽子大学</h1>

<p>你好, <%= @user.name %>,</p>

<p>你的电子邮件是 <%= @user.email =%>。</p>

<p>
欢迎来到课程的测试软件。本课程的目标是从零实现一个twitter，将来会实现一个安卓客户端和一个iOS客户端。从而达到网页+安卓+iOS都可以运行的目标。我会在视频中解释每一行代码。
</p>

<p>目前的价格是200块，当完成安卓客户端以后(现在已经可以发贴了)，涨200，如果再完成iOS以后，再涨200。我的主观感觉，web+android+ios的全平台视频教学，收600块不算贵吧。算上平台分成30%，政府意外所得税20%，我只能拿50%。</p>

<p>早购买的人会有一定的收益，早买是对我的信任，我的视频是永久有效的(就算网易平台倒闭了，我也会把原始文件给大家 :)

</p><strong>我不是个有经验的生意人，我还从来没做过生意，我只是在尝试如何定价能让这件事情运行下去。</strong>
	
<p>下面是激活的链接</p>

<%= link_to "账号激活链接", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>
													
<p>因为分成的原因，如果你想购买，希望通过这个<a href="https://study.163.com/course/courseMain.htm?courseId=1005687008&share=2&shareId=1019590015" target=”_blank”>购买链接</a>，这样我能多分一点钱。在最少的时候，假如你用苹果手机购买，苹果会分30%，网易分30%，政府20%，最后我只能分20%...如果你用前面个链接，我能多分一点吧。</p>

<p>祝你成功 :)</p>

<pre>
             ________________________________________________
            /                                                \
           |    _________________________________________     |
           |   |                                         |    |
           |   |dong@lmzdx:~$ make programmer great again|    |
           |   |                                         |    |
           |   |                                         |    |
           |   |                                         |    |
           |   |                                         |    |
           |   |                                         |    |
           |   |                                         |    |
           |   |                                         |    |
           |   |                                         |    |
           |   |                                         |    |
           |   |                                         |    |
           |   |                                         |    |
           |   |_________________________________________|    |
           |                                                  |
            \_________________________________________________/
                   \___________________________________/
                ___________________________________________
             _-'    .-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.  --- `-_
          _-'.-.-. .---.-.-.-.-.-.-.-.-.-.-.-.-.-.-.--.  .-.-.`-_
       _-'.-.-.-. .---.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-`__`. .-.-.-.`-_
    _-'.-.-.-.-. .-----.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-----. .-.-.-.-.`-_
 _-'.-.-.-.-.-. .---.-. .-------------------------. .-.---. .---.-.-.-.`-_
:-------------------------------------------------------------------------:
`---._.-------------------------------------------------------------._.---'
</pre>