<footer class="footer">
  <small>
    本项目由<a href="http://lmzdx.com/">绿帽子大学</a>
   的校长<a href="https://liuyandong.com/">栋哥</a>东拼西凑跑起来的，仅做测试使用。
  </small>
  <nav>
    <ul>
      <li><%= link_to "关于",   about_path %></li>
      <li><%= link_to "联系", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>